{deps, [
    %%{rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-3.5.0"}}}
    %% use our fork till upstream fixes the mochijson2 issue
    {rabbit_common, ".*", {git, "https://github.com/alertlogic/rabbit_common.git", {branch, master}}}
]}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_unused_import
]}.
